*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Slabo 27px', serif;
	background-image: url('../img/sample-pattern.png');
}
header{
	top: 0;
	padding: 10px;
	position: fixed;
	width: 99%;
	background-color: white;
	z-index: 10;
}
header nav {
	float: right;
	margin-top: 10px;
}
nav ul a{
	text-decoration: none;
	padding: 20px;
}

nav ul li {
	display: inline;
}
section{
	position: relative;
	top: 60;
}
section {
	margin: 10px 250px;
}
section h1 {
	text-align: center;
	font-size: 40px;
	padding: 20px;
}

#article-list article{
	background-color: white;
	border-bottom: 1px dotted black;
	padding: 20px;
}
#article-list article{
	padding-top:0 !important;	
}
#article-list article a {
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
}
#article-list article p {
	cursor:	default;
}
footer {
	position: relative;
	width: 100%;
	background-color: black;
	top: 100px; 
	bottom: 0;
	margin-bottom: 0;
	padding: 0;
}
footer h5 {
	padding: 20px;
	color: white;
	text-align: center;
	font-weight: bold;

}

/* ~ Syntax penting ~
	color
	font-size
	font-family
	background
	font-weight
	text-align
	text-decoration
	position
	cursor
*/