* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0179BF;
}
header {
	margin: 230px 430px;
	text-align: center;
	background-color: white;
	padding: 20px 40px;
	box-shadow: 5px 5px 2.5px #aaaaaa;
	border: 0px solid black;
	border-radius: 20px;
}
p {
	font-size: 15px;
}
nav {
	padding: 20px 10px;
}

nav ul a {
	padding: 10px;
	text-decoration: none;
	background-color: #55AF50;
	color: white;
	border-radius: 2px;
}
nav ul li {
	display: inline;
}